*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Contenedor {
    border: 2px solid blue;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "caja2 caja3 caja1 caja1"
        "caja2 caja3 caja4 caja5"
        "caja6 caja6 caja4 caja5";

}
.Caja{
    border: 1px solid rgb(22, 18, 18);
    display: flex;
    justify-content: center;
    align-items: center;
}


.caja1 {
    grid-area: caja1;
    background-color: rgb(65, 147, 228);
}

.caja2 {
    grid-area: caja2;
    background-color: rgb(55, 54, 98);
}

.caja3 {
    grid-area: caja3;
    background-color: rgb(161, 50, 92);
}

.caja4 {
    grid-area: caja4;
    background-color: rgb(183, 183, 10);
}

.caja5 {
    grid-area: caja5;
    background-color: rgb(224, 116, 158);
}

.caja6 {
    grid-area: caja6;
    background-color: rgb(81, 180, 51);
}

.Container > div {
    display: grid;
    place-items: center;
}

@media screen and (max-width: 480px){
    .Container{
        display: flex;
        flex-direction: column;
    }
}


