@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Nunito', sans-serif;
}


.menu {
    list-style-type: none;
    font-weight: 900;
    font-size: 24px;
}

.menu li {
    display: inline;
    margin-right: 20px
}
.menu li a{
    color: red;

}
.Receta{
    list-style-position: inside;
}
.Caja{
    width: 100%;
    height: 90vh;
    background-color: rgb(201, 145, 145);
    margin: 20px 0px 20px 0;
    padding: 20px 0px 20px 0;

    background-image: url(./../imagenes/images.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center  center;
    background-attachment: fixed;

    border-radius: 30px;

}
.Caja p{
    text-align: center;
    line-height: 90px;
    text-decoration:underline double;
    w

}